// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.gist-file {
  font-size:.8em !important;
}

table.lines{
  width: 100%;
}

.tags:before{content:"\2022 ";padding:0 .4em 0 .2em;display:inline-block}